/*fichier de css*/

/*Body*/
body{
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    }

/*navbar*/

.navbar-brand{
    font-size:2.5rem;
}

.navbar-nav{
    font-size:1.5rem;
}



/*Carousel*/
.bd-example{
    padding-top: 1%;
    width: 100%;
    height:100%;
    margin:auto;
}

.bd-example h5{
    font-size: 2rem;
}

.bd-example p{
    font-size: 1.5rem;
}

.carousel-caption{
    color:black;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}

/*Pills*/
.nav-pills{
    padding-top: 1%;
}

.nav_item{
    justify-content: center;
}

/*Card Deck*/



.card-deck{
    padding-top: 1%;
}

.bloc_img_card{
    width:auto;
    position: relative;
    opacity:0.6;
}

.wanted_status{
    position: absolute;
    width:90%;
    height:auto;
    margin-top:-110%;
    margin-left: 5%;
    text-align:center;
    color:white;
    background-color:GREY;
    opacity:0.9;
    border-radius: 5px;
    font-size:2rem;
}

.wanted_status_dead{
    position: absolute;
    width:90%;
    height:auto;
    margin-top:-55%;
    margin-left: 5%;
    text-align:center;
    color:white;
    background-color:GREY;
    opacity:0.9;
    border-radius: 5px;
    font-size:2rem;
}

.bloc_img_card:hover .wanted_status, .bloc_img_card:hover .wanted_status_dead{
    display:none;
}

.bloc_img_card:hover{
    opacity:1;
}

/*Media object*/

.btn_facebook{
    padding-top: 0px;
    padding-bottom:0px;
    margin-top:-6%;
}

.capture_detail{
    margin-top: -2%;
}

.profile{
    text-decoration:underline;
    color:black;
}

.media-body + h5{
    font-size:2rem;
    font-weight:bold;
}

/*Cards*/

.btn-light{
    border:1px solid grey;
}

.card + h5{
    font-weight:bold;
}

td{
    width: 50%;
    text-align:center;
}

.card{
    margin-bottom: 1%;
}

/*form*/

form{
    width:90%;
    margin:auto;
}

/*footer*/

.footer_list{
    list-style-type:none;
}

.footer_list li{
    color:white;
}